/* Using css instead of styled components in order to allow for ez styling */
input {
  background: #fafafa;
  padding: 10px;
  margin: 10px;
  width: 80%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35);
  border: 1px solid #305a72;
  flex-grow: 1;
  font-size: 1em;
}

select {
  background: #fafafa;
  padding: 10px;
  margin: 10px;
  width: 80%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35);
  border: 1px solid #305a72;
  flex-grow: 1;
  font-size: 1em;
}
textarea {
  background: #fafafa;
  padding: 10px;
  margin: 10px;
  width: 90%;
  height: 100px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35);
  border: 1px solid #305a72;
  flex-grow: 1;
  font-size: 1em;
}
.form-button {
  padding: 0.35em 1.2em;
  margin: 5px;
  border: 2px solid black;
  border-radius: 2px;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
  font-size: 1em;
  max-width: 25%;
}

.form-button:hover {
  border: 2px solid rosybrown;
  color: rosybrown;
  cursor: pointer;
}
.checkbox {
  background: transparent;
  margin: 5px;
  padding: 0;
  width: 25px;
  box-shadow: none;
  border: none;
  flex-grow: 0;
  font-size: 1em;
}
