@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body {
    font-family: 'Titillium Web', sans-serif;
}

.insert-query {
    width: 50%;
    margin: 0 auto;
}
.insert-query__fields {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
input[type=text]{
    width: 200px;
    padding: 5px 10px;
    font-size: 15px;
}
button {
    padding: 5px 10px;
    font-size: 15px;
    width: 200px;
    background-color: lightblue;
    margin: 10px 0;
}
button:hover{
    cursor: pointer;
    background-color: lightskyblue;
    transition: all .3s;
}
.album-list {
    width: 50%;
    margin: 0 auto;
}
.album {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.album-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: darkgray;
    color: white;
    padding-top: 5px;
    font-weight: bolder;
    padding-bottom: 5px;
}

.album:nth-child(odd){
    background-color: lightgrey;
}
.album:nth-child(even){
    background-color: whitesmoke;
}
.album:hover {
    cursor: pointer;
    background-color: lightgreen;
    transition: all .3s;
}

.album__descriptor {
    width: 250px;
    padding-left: 25px;
}
.album__descriptor:last-child{
    width: 100px;
    text-align: center;
}
.album-info {
    width: 95%;
    margin: 0 auto;
    background-color: lightcyan;
}
.album-info__description {
    margin: 0 auto;
    padding: 5px;
}
.album-info__dates {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 0 auto;
}

.song-list {
    width: 95%;
    margin: 0 auto;
}

.song {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    /* height: 40px; */
}
.song p {
    font-size: 15px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.song:nth-child(odd) {
    background-color: lightcyan;
}

.song:nth-child(even) {
    background-color: lightblue;
}

.song__descriptor {
    width: 400px;
    padding-left: 25px;
}
.song__descriptor__emoji {
    width: 20px;
    padding-left: 20px;
    text-align: center;
}
.song__descriptor:first-child {
    width: 30px;
    text-align: center;
}
.song__descriptor:last-child {
    width: 75px;
    text-align: center;
}
.song-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: darkcyan;
    color: white;
    font-weight: bolder;
}
.modal-container{
    width: 25%;
    background-color: #fff;
    text-align: center;
    box-shadow: 0, 0, 0.625rem, rgba(0, 0, 0, 0.2);
}
.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    opacity: 1;
    animation: show .5s ease;
    overflow-x: hidden;
    overflow-y: auto;
}
.close-button {
    float: right;
    padding: 0px;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: lightcoral;
}