@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body {
    font-family: 'Titillium Web', sans-serif;
}
.insert-album {
    margin: 0 auto;
    width: 5%
}
.insert-album__fields{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
input[type=text]{
    width: 300px;
    padding: 5px 10px;
    font-size: 15px;
    
}
button {
      padding: 5px 10px;
      font-size: 15px;
      width: 200px;
      background-color: lightblue;
}
.album-list {
    width: 50%;
    margin: 0 auto;
}
.album {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.album:nth-child(odd){
    background-color: lightgrey;
}
.album__descriptor {
    width: 250px;
    padding-left: 25px;
}
.album__descriptor:last-child{
    width: 100px;
    text-align: center;
}

.album-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: darkgray;
    color: white;
    padding-top: 5px;
    font-weight: bolder;
    padding-bottom: 5px;
}
